*{
    margin:0;
    padding: 0;
}
.logo{
    padding-left: 100px;
}
.anhbanner{
    background-image: url("../images/banner.jpg");
    height: 300px;
    background-size:cover;
    background-position-y: 50%;
    display:flex;
    align-items: center;
    justify-content: center;  
    
}
.searchbanner{ 
    margin: auto;
    width: 50%;
    margin-top: -180px;
}
.btsearch{
    background-color:rgb(240, 96, 96) ;
    color: #fff;
}
.thanhngang{
    margin-top: 1%;
    padding-right:100px ;
}
.thanhngang ul li a{
    color:rgb(238, 55, 55);
}
.banner_qq{
    padding: 0;

}
.content{
    background-color: rgb(204, 212, 219);
  
}
.content_qq{
    padding: 20px;
}
.content_tiede{
    text-align: center;
    padding-top: 50px;
}
.qq{
    border-radius: 15px;
}
.content_anh1 img{
    width: 100px;
    height: 100px;
    margin-top: -160px;
    border-radius: 10px;
   
}
.content_anh1{
    display: inline-block;
}
.content_thongtin1{
    display: inline-block;
    margin-left: 30px;
}
.seefood a{
    text-decoration: none;
    color:rgb(245, 63, 63)
    
}
.seefood{
    text-align: center;
    padding-bottom: 30px ;
}
.col1{
    display: inline-block;
}

.a1 {
    margin-left: 700px;  
}
.a2 {
    margin-left: 40px;  
}
.a3 {
    margin-left: 40px;  
}
.footer{
    display: flex;
    padding-bottom: 15px;
}
.end{
    align-items: center;
    text-align: center;
    padding-bottom:10px ;
    
}
.end a{
    text-decoration: none;
}